.message-wrap {
    color: white;/*поправить цвета*/
    width: 23em;
    height: 5em;
    background-color: #A6E500;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.2% 1%;
}

.message-avatar{
    display: flex;
    align-items: end;
    height: 90%;
    z-index: 10;
}

.message-avatar-img {
    width: 3.75em;
    height: 3.75em;
    border-radius: 50%;
}

.message-body {
    width: 78%;
    height: 75%;
    padding: 2% 1%;
    background-color: #002100;
    border-radius: 0.3em;
    display: flex;
    font-size: 1.15em;
    position: relative;
}

.message-body:before{
    content: "";
    position: absolute;
    border: 10px solid transparent;
    border-right: 10px solid #002100;
    border-bottom: 10px solid #002100;
    right: 99%;
    top: 73%;
}

.message-body:after {
    content: "";
    width: 27px;
    height: 27px;
    border-radius: 50%;
    position: absolute;
    background-color: #A6E500;
    right: 100%;
    top: 62%;
}

.message-body-left{
    width: 80%;
    padding-left: 5%;
    margin: auto 0;
}

.message-body-right {
    width: 20%;
    display: flex;
    justify-content: end;
    align-items: end;
}

.message-name {
    color: #9081B4;
}

.message-text {
    color:  #BFCDBE;
}

.message-time {
    color: #769074;
}