.message-wrap {
    color: white; /*поправить цвета*/
    max-width: 25em;
    min-height: 5em;
    background-color: #A6E500;
    display: flex;
    justify-content: space-between;
    padding: 0.2% 1%;
}

.message-avatar {
    height: inherit;
    display: flex;
    align-items: end;
    z-index: 10;
}

.message-avatar-img {
    width: 3.75em;
    height: 3.75em;
    padding-bottom: 5%;
    border-radius: 50%;
}

.message-body {
    width: 78%;
    padding: 2% 1%;
    background-color: #002100;
    border-radius: 0.3em;
    display: flex;
    font-size: 1.15em;
    position: relative;
}

.message-body:before {
    content: "";
    position: absolute;
    border: 10px solid transparent;
    border-right: 10px solid #002100;
    border-bottom: 10px solid #002100;
    right: 99%;
    bottom: 0%;
}

.message-body:after {
    content: "";
    width: 27px;
    height: 27px;
    border-radius: 50%;
    position: absolute;
    background-color: #A6E500;
    right: 100%;
    bottom: 1%;
}

.message-body-left {
    width: 80%;
    padding: 3% 5%;
    margin: auto 0;
}

.message-body-right {
    width: 20%;
    display: flex;
    justify-content: end;
    align-items: end;
}

.message-name {
    color: #9081B4;
}

.message-text {
    color: #BFCDBE;
}

.message-time {
    color: #769074;
}