.affairs {
    background-color: #FFD7A7;
    width: 25em;
    padding: 0.2% 1%;
}

.affair {
    width: 100%;
    display: flex;
    justify-content: space-around;
    word-wrap: break-word;
    margin-bottom: 2px;
}

.affairName {
    width: 30%;
}

.affairPriority {
    width: 30%;
}

.affairButton {
    width: 10%;
}

.priorityButtons {
    display: flex;
    justify-content: center;
    padding: 5px 5px;
}

.priorityButtonsItem {
    margin-right: 5px;
}

