.affairs {
    background-color: #A6E500;
    width: 25em;
    padding: 0.2% 1%;
}

.affair {
    width: 100%;
    display: flex;
    justify-content: space-around;
    word-wrap: break-word;
}

.affairName {
    width: 30%;
}

.affairPriority {
    width: 30%;
}

.affairButton {
    width: 10%;
}

.priorityButtons {
    display: flex;
    justify-content: center;
}
