.blue {
    border-bottom: 5px solid blue;
}

.column {

    width: 25em;
    padding: 0.2% 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testSpanError {
    color: blue;
}