.greetings {
    width: 25em;
    height: 4em;
    padding: 0.2% 1%;
    background-color: #FFD7A7;
}

.error {
    border: 1px solid red;
}

.errorMessage {
    color: red;
    font-weight: bold;
}

